html * {
    margin: 0;
}

body {
    text-align: center;
    background-color: black;
    height: 100vh;
    color: #66fcf1;
}

#cabecalho {
    height: 10vh;
    background-color: #0b0c10;
}

#cabecalho h1 {
    color: rgb(31, 31, 31);
}
#conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2833;
    height: 80vh;
}

#conteudo h2 {
    font-size: 20vh;
    font-family: 'Stint Ultra Condensed', cursive;
}
#conteudo p {
    text-indent: 5vh;
    text-align: justify;
    line-height: 2em;
    max-width: 33vh;
    background-image: url(https://image.flaticon.com/icons/png/512/1/1796.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5em 0;
    
}
.img_main {
    width: 190px;
    height: 190px;
    position: relative;

}
#rodape {
    height: 10vh;
    background-color: #0b0c10;
}

.icones {
    width: 3%;
}