*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    background-color: transparent;
}
body::before{
    background-image: url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header{
    background-color: rgb(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    flex-flow: row wrap;
}

header h1{
    color: #E50914;
    font-size: clamp(3rem, 6vw, 6rem);
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
header #logo:hover h1{
    animation: logo 1s infinite;
    
}

header p{
    color: white;
    font-size: 2rem;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;

}

.bloco{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    border-radius: 1rem;
    padding: 2rem 3rem 3rem;
    animation: mainAnimation 1s;
    min-width: 14rem;
    height: auto;
}

form{
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
}

#login h2{
    font-size: 3rem;
    text-align: left;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    margin: 0 0 1rem;
}
input:not([type="checkbox"]){
    display: block;
    border: 0.2rem solid transparent;
    border-radius: 0.3rem;
    background-color: rgb(63, 63, 63);
    margin: 1rem 0;
    color: white;
    transition: 0.5s;
    padding: 0.5rem 1rem;
}
input:hover, input:focus{
    transform: scale(1.1);
}
input[type="checkbox"]{
    cursor: pointer;
}
input::placeholder{
    color: white;
}
input:focus{
    outline: none;
    border-color: rgb(255, 255, 255);
}
#checkbox{
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    align-items: center;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#checkbox label{
    max-width: 20ch;
    line-height: 1.2em;
    cursor: pointer;
}
#botoes{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.botao {
    background-color: #E50914;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem;  
    border: 0.2rem solid #E50914;
    border-radius: 0.3rem;

}
.botao:hover{
    background-color: #af060f;
    border-color: #af060f;
}
#cancel{
    background-color: transparent;
    color: #E50914;
}
#cancel:hover{
    background-color: #af060f;
    border-color: #af060f;
    color: white;
}
@keyframes mainAnimation {
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}
@keyframes logo {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
    
footer p{
    text-align: right;
    color: rgb(255, 0, 0);
    padding-top: 2rem;
    
}